:host {
    padding: 20px
}

.modification:not(:last-of-type) {
    margin-bottom: 20px;
}

.form-btn {
    display: block;
}

.add-voter {
    display: inline-block;
    margin-left: 10px;
    color: green;
    cursor: pointer;
}

.remove-voter {
    color: red;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.voter-field {
    width: 65%;
}

// .amount-header { 
//     margin-top: 35px;
// }