<mat-toolbar color="primary">
    <span class="center text-center">Hello from {{ title }}</span>
</mat-toolbar>

<div class="center">
    <mat-card>
        <mat-card-content>
            <button color="primary" mat-raised-button (click)="connect()">Connect</button>
            <mat-tab-group animationDuration="0ms" *ngIf="account$ | async">
                <mat-tab label="Add rule">
                    <h3>{{ account$ | async }}</h3>
                </mat-tab>
                <mat-tab label="Get rule">
                    <button color="primary" mat-raised-button (click)="getMyRule()">Get Rule</button>
                </mat-tab>
                <mat-tab label="Modify rule">
                    <app-modify-rule>
                    </app-modify-rule>
                </mat-tab>
                <mat-tab label="Vote for rule"></mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>
